<div>
  <div class="mb-3">
    <h5 class="mb-1">{{ organization.legalName }}</h5>
    <small class="text-muted">
      <b>Nº DE REGISTRO:</b> {{ organization.taxId }}<br>
      <b> NOME FANTASIA:</b> {{ organization.tradeName }}<br>
    </small>
  </div>
  <div>
    <!-- Select a department to add -->
    <div class="d-flex align-items-center my-2">
      <ng-select id="newDepartment" name="newDepartment" class="custom flex-grow-1 mr-2" 
        [items]="departments" 
        [searchable]="true"
        bindLabel="name"
        bindValue="id" 
        [(ngModel)]="selectedDepartmentId"
        placeholder="Adicionar departamento...">
      </ng-select>
      <button class="btn btn-sm btn-outline-primary" type="button" (click)="addDepartment(selectedDepartmentId)">Adicionar</button>
    </div>
    
    <!-- List of departments -->
    <div *ngIf="organization.departments">
      <ul class="list-group">
        <li class="list-group-item" *ngFor="let department of organization.departments">
          <div class="d-flex  align-items-center">
            <span style="cursor: pointer;"
                  class="badge badge-default" [class.badge-outlined]="department.expanded"
                  (click)="toggleDepartmentMacroprocesses(department);">
              Departamento
            </span>
            <div>
              <span class="icon-link" title="Excluir" (click)="deleteDepartment(department)">
                <fa class="mx-1 fa-no-margin text-danger" name="trash"></fa>
              </span>
              <span>{{ department.name }}</span>
            </div>
          </div>

          <div *ngIf="department.expanded">
            <div class="d-flex align-items-center my-2">
              <!-- Select a macroprocess to add -->
              <ng-select id="newMacroprocess" name="newMacroprocess" class="custom flex-grow-1 mr-2" 
                [items]="macroprocesses" 
                [searchable]="true" 
                bindLabel="name"
                bindValue="id" 
                [(ngModel)]="department.selectedMacroprocessId"
                placeholder="Adicionar macroprocesso...">
              </ng-select>
              <button class="btn btn-sm btn-outline-primary" type="button" (click)="addMacroprocess(department)">Adicionar</button>
            </div>

            <!-- List of macroprocesses -->
            <div *ngIf="department.macroprocesses">
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let macroprocess of department.macroprocesses">
                  <div class="d-flex align-items-center">
                    <span style="cursor: pointer;"
                          class="badge badge-default" [class.badge-outlined]="macroprocess.expanded"
                          (click)="toggleMacroprocessProcesses(macroprocess);">
                      Macroprocesso
                    </span>
                    <div class="">
                      <span class="icon-link" title="Excluir" (click)="deleteMacroprocess(macroprocess, department)">
                        <fa class="mx-1 fa-no-margin text-danger" name="trash"></fa>
                      </span>
                      <span>{{ macroprocess.name }}</span>
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </li>

      </ul>
    </div>
  </div>
</div>