<app-modal modalTitle="Adicionar ativo de TI">
  <div class="body px-2">
    <div class="mb-2"><b>Departamento:</b> {{itService.process.macroprocess.department.name}}</div>
    <div class="mb-2"><b>Macroprocesso:</b> {{itService.process.macroprocess.name}}</div>
    <div class="mb-2"><b>Processo:</b> {{itService.process.name}}</div>
    <div class="mb-2"><b>Serviço de TI:</b> {{itService.name}}</div>
    
    <div class="my-4">
      <div *ngIf="!editMode">
        <small>Escolha entre adicionar um ativo já existente na organização ou um ativo do catálogo.</small>
        <div class="btn-group w-100 mt-2" btnRadioGroup [(ngModel)]="selectedItAssetSource">
          <label class="btn btn-sm btn-outline-secondary w-50" btnRadio="organization" tabindex="0" role="button" (click)="selectOrganizationSource()">Organização</label>
          <label class="btn btn-sm btn-outline-secondary w-50" btnRadio="catalog" tabindex="0" role="button" (click)="selectCatalogSource()">Catálogo</label>
        </div>
      </div>

      <div *ngIf="selectedItAssetSource">
        <ng-select
          [disabled]="editMode"
          [items]="itAssets"
          [searchable]="true"
          bindLabel="displayName"
          [(ngModel)]="selectedItAsset"
          placeholder="Selecione um ativo de TI"
          (change)="onItAssetChange($event)">
        </ng-select>
  
        <input *ngIf="selectedItAssetSource == 'catalog'" [(ngModel)]="externalIdentifier"
          type="text" maxlength="128" class="mt-2 mb-4 form-control form-control-sm"
          placeholder="Preencha uma identificação para o ativo" />

        <div *ngIf="selectedItAssetSource == 'organization'" class="mx-2 mt-2 mb-4" style="color: #aaa">
          Identificação: {{ (!selectedItAsset) ? "(Selecione um ativo)" : (externalIdentifier || "(sem identificação)") }}
        </div>

        <ng-select
          [items]="ratingLevels"
          [searchable]="true"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedRelevanceId"
          placeholder="Selecione uma relevância">
        </ng-select>
      </div>

      <div *ngIf="editMode">
        <input disabled="true" [(ngModel)]="selectedItAsset.name"
          type="text" class="mt-2 mb-2 form-control form-control-sm" />
  
        <div class="mx-2 mt-2 mb-4" style="color: #aaa">
          Identificação: {{ selectedItAsset.externalIdentifier || "(sem identificação)" }}
        </div>

        <ng-select
          [items]="ratingLevels"
          [searchable]="true"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedRelevanceId"
          placeholder="Selecione uma relevância">
        </ng-select>
      </div>
    </div>
    
    <app-error-alert [errors]="errors"></app-error-alert>
  </div>
  <div class="actions">
    <button class="btn btn-outline-success" (click)="confirm()" [disabled]="!selectedItAsset">Salvar</button>
  </div>
</app-modal>