<app-modal modalTitle="Adicionar ativo de TI">
  <div class="body px-2">
    <div class="mb-2"><b>Departamento:</b> {{itService.process.macroprocess.department.name}}</div>
    <div class="mb-2"><b>Macroprocesso:</b> {{itService.process.macroprocess.name}}</div>
    <div class="mb-2"><b>Processo:</b> {{itService.process.name}}</div>
    <div class="mb-2"><b>Serviço de TI:</b> {{itService.name}}</div>
    
    <div class="my-4">
      <small>Escolha entre adicionar um ativo já existente na organização ou um ativo do catálogo.</small>
      <div class="btn-group w-100 mt-2" btnRadioGroup [(ngModel)]="selectedItAssetSource">
        <label class="btn btn-sm btn-outline-secondary w-50" btnRadio="organization" tabindex="0" role="button" (click)="selectOrganizationSource()">Organização</label>
        <label class="btn btn-sm btn-outline-secondary w-50" btnRadio="catalog" tabindex="0" role="button" (click)="selectCatalogSource()">Catálogo</label>
      </div>

      <div *ngIf="selectedItAssetSource">
        <ng-select
          [items]="itAssets"
          [searchable]="true"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedItAssetId"
          placeholder="Selecione um ativo de TI"
          (change)="onItAssetChange($event)">
        </ng-select>
  
        <input type="text" class="my-2 form-control form-control-sm" [disabled]="selectedItAssetSource == 'organization'"
          placeholder="Identificação do ativo"
          id="externalIdentifier" name="externalIdentifier" [(ngModel)]="externalIdentifier" />

        <ng-select
          [items]="ratingLevels"
          [searchable]="true"
          bindLabel="name"
          bindValue="id"
          [(ngModel)]="selectedRelevanceId"
          placeholder="Selecione uma relevância">
        </ng-select>
      </div>  
    </div>
    
  </div>
  <div class="actions">
    <button class="btn btn-outline-success" (click)="confirm()" [disabled]="!selectedItAssetId">Salvar</button>
  </div>
</app-modal>