<div class="text-right mb-2">
  <button class="btn btn-primary btn-sm" (click)="openAddDepartment()">
    <fa name="plus"></fa> Adicionar departamento
  </button>
</div>

<div class="my-structured-list">
  <ul class="list-group" *ngIf="departments?.length > 0">
    <li class="list-group-item" *ngFor="let department of departments" [ngClass]="{'expanded': expanded}">
      
      <app-department-item [department]="department" (delete)="removeDepartment($event)"></app-department-item>

    </li>
  </ul>
</div>