<div>
  <div>
    <h5>Organizações</h5>

    <!-- Form to add a new record -->
    <form>

      <div class="row">
        <div class="col-md-3">
          <div class="form-group">
            <label>Nº de Registro</label>
            <input type="text" [(ngModel)]="newRecord.taxId" name="taxId" id="taxId" placeholder="Ex: CNPJ" class="form-control form-control-sm" />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>Nome Empresarial</label>
            <input type="text" [(ngModel)]="newRecord.legalName" name="legalName" id="legalName" class="form-control form-control-sm" />
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>Nome Fantasia</label>
            <input type="text" [(ngModel)]="newRecord.tradeName" name="tradeName" id="tradeName" class="form-control form-control-sm" />
          </div>
        </div>
      </div>

      <!-- Add button -->
      <input type="submit" class="btn btn-sm btn-outline-secondary" value="Adicionar" (click)="createRecord(newRecord)" />

      <span class="mx-2 align-middle text-success" *ngIf="loading">
        Aguarde...
      </span>

      <!-- Success feedback -->
      <span class="mx-2 align-middle text-success" [class.d-none]="hasCreated == false">
        Organização adicionada<fa name="check"></fa>
      </span>
    </form>

    <!-- Error alert -->
    <app-error-alert [errors]="errors"></app-error-alert>

  </div>
  <div class="table-container">
    <div class="table-responsive">
      <table class="table table-hover">
        <thead class="thead-light">
          <tr>
            <th>No. Registro</th>
            <th>Nome Empresarial</th>
            <th>Criado em</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let record of records">
            <td>{{ record.taxId }}</td>
            <td>{{ record.legalName }}</td>
            <td>{{ record.createdOn | date : "dd/MM/yyyy HH:mm" }}</td>
            <td>
              <a title="Editar" [routerLink]="['/organizations', record.id, 'edit']" class="icon-link"><fa name="edit"></fa></a>
              <a title="Gerenciar estrutura" [routerLink]="['/organizations', record.id, 'structure']" class="icon-link"><fa name="sitemap"></fa></a>
              <a title="Gerenciar ativos de TI" [routerLink]="['/organizations', record.id, 'itAssets']" class="icon-link"><fa name="laptop"></fa></a>
              <a title="Gerenciar ameaças" [routerLink]="['/organizations', record.id, 'securityThreats']" class="icon-link"><fa name="exclamation-triangle"></fa></a>
              <a title="Gerenciar análises" [routerLink]="['/organizations', record.id, 'analyses']" class="icon-link"><fa name="calculator"></fa></a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <app-pagination 
      [paging]="paging"
      (goPrevPage)="getPrevPage()"
      (goNextPage)="getNextPage()">
    </app-pagination>
  </div>
</div>
