.pagination-container {
    font-size: 0.8rem;
    overflow: hidden;
    margin: 0;
    padding: 0.2rem 0.6rem;
    background-color: #e9ecef;
    border-top: 2px solid #dee2e6;
}

.pagination-container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-item {
    width: 4rem; // buttons with same width
}

.page-item a.page-link {
    margin: 0 0.1rem;
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    color: black;
    background-color: inherit;
    //text-decoration: underline;
    border: 2px solid #dee2e6;
    border-radius: 15px;
}

.page-item a.page-link:hover {
    border: 2px solid #ccc;
    color: #007bff;
}

ul.pagination {
    float: right;
    margin: 0;
}