.pagination-container {
    font-size: 0.8rem;
    overflow: hidden;
    margin: 0;
    padding: 0.2rem 0.6rem;
    background-color: #e9ecef;
    border-top: 2px solid #dee2e6;
}

.pagination-container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.page-item {
    width: 4rem; // buttons with same width
}

.page-item a.page-link {
    margin: 0 0.1rem;
    padding: 0.2rem 0.4rem;
    font-weight: bold;
    text-align: center;
    color: #007bff;
    background-color: inherit; // override default
    border-color: inherit;
    //border: 1px solid #dee2e6;
    border-radius: 0px; // override default
}

.page-item a.page-link:hover {
    //border: 1px solid #ccc;
    background-color: #ddd;
    color: #0056b3;
}

ul.pagination {
    float: right;
    margin: 0;
}