.pagination-container {
    font-size: 0.8rem;
    overflow: hidden;
    margin: 0;
    padding: 0.3rem 0;
    background-color: #dee2e6;
    //sborder-radius: 6px;
    // box-shadow: 0 0 10px 2px #c2c2c2;
}

.pagination-container nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 0.6rem;
}

.page-item a.page-link {
    padding: 0.2rem 0.6rem;
    font-size: 0.8rem;
    font-weight: bold;
    color: black;
    background-color: inherit;
    //text-decoration: underline;
    border: none;
}

.page-item a.page-link:hover {
    background-color: white;
}

ul.pagination {
    float: right;
    margin: 0;
}