<app-modal modalTitle="Adicionar macroprocesso">
  <div class="body">
    <div class="ml-2 mb-2"><b>Departamento:</b> {{department.name}}</div>
    <ng-select  
      [items]="macroprocesses"
      [searchable]="true"
      bindLabel="name"
      bindValue="id" 
      [(ngModel)]="selectedMacroprocessId"
      placeholder="Selecione um macroprocesso...">
    </ng-select>
    <app-error-alert [errors]="errors"></app-error-alert>
  </div>
  <div class="actions">
    <button class="btn btn-outline-success" (click)="confirm()" [disabled]="!selectedMacroprocessId">Salvar</button>
  </div>
</app-modal>