<app-modal modalTitle="Adicionar processo">
  <div class="body">
    <div class="ml-2 mb-2">Departamento: {{macroprocess.department.name}}</div>
    <div class="ml-2 mb-2">Macroprocesso: {{macroprocess.name}}</div>
    <ng-select  
      [items]="processes"
      [searchable]="true"
      bindLabel="name"
      [(ngModel)]="selectedProcess"
      placeholder="Selecione um processo...">
    </ng-select>
  </div>
  <div class="actions">
    <button class="btn btn-outline-success" (click)="confirm()" [disabled]="!selectedProcess">Salvar</button>
  </div>
</app-modal>