<app-modal modalTitle="Adicionar processo">
  <div class="body">
    <div class="ml-2 mb-2"><b>Departamento:</b> {{macroprocess.department.name}}</div>
    <div class="ml-2 mb-2"><b>Macroprocesso:</b> {{macroprocess.name}}</div>
    
    <div class="my-2">
      <ng-select
        [disabled]="editMode"
        [items]="processes"
        [searchable]="true"
        notFoundText="Nenhum item encontrado"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="selectedProcessId"
        placeholder="Selecione um processo...">
      </ng-select>
    </div>
    
    <div class="my-2">
      <ng-select
        [items]="ratingLevels"
        [searchable]="true"
        bindLabel="name"
        bindValue="id"
        [(ngModel)]="selectedRelevanceId"
        placeholder="Selecione uma relevância...">
      </ng-select>
    </div>
    
    <app-error-alert [errors]="errors"></app-error-alert>
  </div>
  <div class="actions">
    <button class="btn btn-outline-success" (click)="confirm()" [disabled]="!selectedProcessId">Salvar</button>
  </div>
</app-modal>