<div class="d-flex justify-content-between align-items-center">
  
  <i class="fa pointer" (click)="toggleItServices()" [ngClass]="{
    'fa-plus-square-o': !expanded,
    'fa-minus-square-o': expanded
  }"></i>
  <span class="badge badge-default badge-hierarchy mx-2">Processo</span>
  <span class="badge badge-primary mx-2" title="Relevância: {{process.relevance.name}}" *ngIf="process.relevance">Rp {{process.relevance.id}}</span>
  <label class="mb-0">{{process.name}}</label>

  <!-- Edit process -->
  <button class="btn btn-outline-primary btn-sm ml-auto" title="Alterar relevância" (click)="editProcess()">
    <fa name="edit"></fa>
  </button>
  <!-- Remove process -->
  <button class="btn btn-outline-danger btn-sm ml-1" title="Excluir" (click)="deleteProcess()">
    <fa name="trash"></fa>
  </button>
  <!-- Add IT service to process -->
  <button class="btn btn-primary btn-sm ml-1" title="Adicionar serviço de TI..." (click)="addItService()">
    <fa name="plus"></fa>
  </button>

</div>

<div *ngIf="expanded">
  <ul class="list-group" *ngIf="itServices?.length > 0; else emptyList">
    <li class="list-group-item" *ngFor="let itService of itServices">

      <app-it-service-item [itService]="itService" (delete)="removeItService($event)"></app-it-service-item>

    </li>
  </ul>

  <ng-template #emptyList>
    <div class="mx-5 my-2" *ngIf="loading">
      Carregando...
    </div>
    <div class="mx-5 my-2" *ngIf="!loading">
      Não existem serviços de TI neste processo.
    </div>
  </ng-template>
</div>