<div *ngIf="analysisId">
  <div>
    <h5>Detalhes da análise número {{ analysisId }}</h5>

    <!-- Form to add a new record -->
    <form>
      <div class="entity-metadata my-2">
        <b>Criado em:</b> {{ currentRecord.createdOn | date : "dd/MM/yyyy HH:mm" }} (UTC)<br>
        <b>Atualizado em:</b> {{ currentRecord.lastModifiedOn | date : "dd/MM/yyyy HH:mm" }} (UTC)
      </div>

      <!-- Description -->
      <div class="form-group row">
        <label for="description" class="col col-form-label col-form-label-sm text-nowrap">
          Descrição da análise
        </label>
        <div class="col-9">
          <input type="text" [(ngModel)]="currentRecord.description" name="description" id="description" class="form-control form-control-sm" />
        </div>
      </div>

      <button type="button" class="btn btn-sm btn-outline-danger"
              (click)="goBack()">Cancelar</button>
      <button type="submit" class="btn btn-sm btn-success" [disabled]="!hasChangedRecord()"
              (click)="patchRecord()">Salvar</button>
      
      <span class="mx-2 align-middle text-success" *ngIf="loading">
        Aguarde...
      </span>

      <!-- Success feedback -->
      <span class="mx-2 align-middle text-success" [class.d-none]="hasUpdated == false || hasChangedRecord()">
        Salvo<fa name="check"></fa>
      </span>

    </form>

    <!-- Error alert -->
    <app-error-alert [errors]="errors"></app-error-alert>

  </div>
  <!-- <div class="table-container">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>ID</th>
          <th>Descrição</th>
          <th>Criado em</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let record of records">
          <td>{{ record.id }}</td>
          <td>{{ record.description }}</td>
          <td>{{ record.createdOn | date : "dd/MM/yyyy HH:mm" }}</td>
          <td class="actions">
            <a title="Visualizar detalhes" [routerLink]="['/organizations', record.id, 'edit']" class="icon-link"><fa name="search-plus"></fa></a>
          </td>
        </tr>
        <tr *ngIf="!loading && (records == null || records.length == 0)">
          <td colspan="4">Nenhum registro encontrado</td>
        </tr>
      </tbody>
    </table>
    <app-pagination 
      [paging]="paging"
      (goPrevPage)="getPrevPage()"
      (goNextPage)="getNextPage()">
    </app-pagination>
  </div> -->
</div>
