<div>
  <div>
    <small class="text-uppercase">Organização {{ organization.legalName }}</small>
    <h5>Ativos de TI</h5>
  </div>
  <div class="d-flex">
    <!-- Add new IT asset to organization -->
    <input type="button" class="btn btn-sm btn-primary ml-auto" value="Adicionar ativo de TI" (click)="addItem()" />
  </div>

  <!-- List of organization IT assets -->
  <div class="table-container">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th>Ativo de TI</th>
          <th>Identificação</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="loading">
          <td colspan="3">Carregando...</td>
        </tr>
        <tr *ngIf="!loading && (!itAssets || !itAssets.length)">
          <td colspan="3">Nenhum ativo de TI cadastrado</td>
        </tr>
        <tr *ngFor="let itAsset of itAssets">
          <td class="w-50">{{ itAsset.name }}</td>
          <td class="w-50">{{ itAsset.externalIdentifier || "-" }}</td>
          <td>
            <a title="Editar" [routerLink]="" (click)="editItem(itAsset)"><fa name="edit"></fa></a>
            <a title="Remover" [routerLink]="" (click)="removeItem(itAsset)"><fa name="trash"></fa></a>
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination 
      [paging]="paging"
      (goPrevPage)="getPrevPage()"
      (goNextPage)="getNextPage()">
    </app-pagination>

  </div>
</div>
