<div>
  <div>
    <small>{{ organization.legalName }} / {{ itAsset.name }}</small>
    <h5><fa name="exclamation-triangle"></fa>Vulnerabilidades</h5>
  </div>

  <div class="d-flex">
    <!-- Add new vulnerability to IT asset -->
    <input type="button" class="btn btn-sm btn-primary ml-auto" value="Cadastrar vulnerabilidade" (click)="addItem()" />
  </div>

  <!-- List of organization IT asset vulnerabilities -->
  <div class="table-container">
    <table class="table table-hover">
      <thead class="thead-light">
        <tr>
          <th class="w-100">Ameaça</th>
          <th>Gv</th>
          <!-- <th>Ga</th> -->
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="loading">
          <td colspan="3">Carregando...</td>
        </tr>
        <tr *ngIf="!loading && (!vulnerabilities || !vulnerabilities.length)">
          <td colspan="3">Nenhuma vulnerabilidade cadastrada</td>
        </tr>
        <tr *ngFor="let vulnerability of vulnerabilities">
          <td class="w-50">{{ vulnerability.securityThreat.name }}</td>
          <td class="w-50">{{ (vulnerability.level) ? vulnerability.level.id : "-" }}</td>
          <!-- <td class="w-50">{{ (vulnerability.securityThreat.threatLevel) ? vulnerability.securityThreat.threatLevel.id : "-" }}</td> -->
          <td>
            <a title="Editar" [routerLink]="" (click)="editItem(vulnerability)"><fa name="edit"></fa></a>
            <a title="Remover" [routerLink]="" (click)="removeItem(vulnerability)"><fa name="trash"></fa></a>
          </td>
        </tr>
      </tbody>
    </table>
    <app-pagination 
      [paging]="paging"
      (goPrevPage)="getPrevPage()"
      (goNextPage)="getNextPage()">
    </app-pagination>

  </div>
</div>
