<div>
    <div *ngIf="currentRecord.id">
      <h5>Atualização de macroprocesso</h5>
      <form>

        <div class="entity-metadata my-2">
          <b>Criado em:</b> {{ currentRecord.createdOn | date : "dd/MM/yyyy HH:mm" }} (UTC)<br>
          <b>Atualizado em:</b> {{ currentRecord.lastModifiedOn | date : "dd/MM/yyyy HH:mm" }} (UTC)
        </div>
  
        <!-- Name -->
        <div class="form-group">
          <label for="name">Nome</label>
          <div class="input-group input-group-sm">
            <input type="text" maxlength="128" name="name" id="name" class="form-control form-control-sm"
                   [(ngModel)]="currentRecord.name" #name="ngModel" />
          </div>      
        </div>
        
        <!-- Back and Save buttons -->
        <button type="button" class="btn btn-sm btn-outline-danger"
                (click)="goBack()">Cancelar</button>
        <button type="submit" class="btn btn-sm btn-success" [disabled]="!hasChangedRecord()"
                (click)="patchRecord()">Salvar</button>
        
        <span class="mx-2 align-middle text-success" *ngIf="loading">
          Aguarde...
        </span>
        
        <!-- Success feedback -->
        <span class="mx-2 align-middle text-success" [class.d-none]="hasUpdated == false || hasChangedRecord()">
          Salvo<fa name="check"></fa>
        </span>
      </form>
  
      <!-- Error alert -->
      <app-error-alert [errors]="errors"></app-error-alert>
    </div>
  </div>
  