<div>
    <div *ngIf="currentRecord.id">
      <h5>Atualização de ativo de TI</h5>
      <form>

        <div class="entity-metadata my-4">
          <b>Criado em:</b> {{ currentRecord.createdOn | date : "dd/MM/yyyy HH:mm" }} (UTC)<br>
          <b>Atualizado em:</b> {{ currentRecord.lastModifiedOn | date : "dd/MM/yyyy HH:mm" }} (UTC)
        </div>

        <!-- Category -->
        <div class="form-group row">
          <label for="category" class="col-3 col-form-label col-form-label-sm">
            Categoria
          </label>
          <div class="col-9">
            <ng-select id="category" name="category" class="custom"
                [items]="categories"
                [searchable]="false"
                bindLabel="name"
                bindValue="id"
                [(ngModel)]="currentRecord.categoryId">
            </ng-select>
          </div>
        </div>

        <!-- Name -->
        <div class="form-group row">
          <label for="name" class="col-3 col-form-label col-form-label-sm">
            Nome
          </label>
          <div class="col-9">
            <input type="text" maxlength="128" [(ngModel)]="currentRecord.name" name="name" id="name" class="form-control form-control-sm" />
          </div>
        </div>

        <!-- Description -->
        <div class="form-group row">
          <label for="description" class="col-3 col-form-label col-form-label-sm">
            Descrição
          </label>
          <div class="col-9">
            <input type="text" maxlength="255" [(ngModel)]="currentRecord.description" name="description" id="description" class="form-control form-control-sm" />
          </div>
        </div>
        
        <!-- Back and Save buttons -->
        <button type="button" class="btn btn-sm btn-outline-danger"
                (click)="goBack()">Cancelar</button>
        <button type="submit" class="btn btn-sm btn-success" [disabled]="!hasChangedRecord()"
                (click)="patchRecord()">Salvar</button>
        
        <span class="mx-2 align-middle text-success" *ngIf="persisting">
          Aguarde...
        </span>
        
        <!-- Success feedback -->
        <span class="mx-2 align-middle text-success" [class.d-none]="hasUpdated == false || hasChangedRecord()">
          Salvo<fa name="check"></fa>
        </span>
      </form>
  
      <!-- Error alert -->
      <app-error-alert [errors]="errors"></app-error-alert>
    </div>
  </div>
  