<app-modal modalTitle="Criar análise">
  <div class="body">
    <div class="form-group">
      <label>Descrição</label>
      <input type="text" maxlength="1024" [(ngModel)]="analysis.description" name="description" class="form-control form-control-sm" />
    </div>
    
    <!-- Scopes selection (only for !editMode) -->
    <div *ngIf="!editMode">
      Defina a abrangência da análise
      <div class="btn-group w-100 mt-2" btnRadioGroup [(ngModel)]="scopeOption">
        <label class="btn btn-sm btn-outline-secondary w-50" btnRadio="all" tabindex="0" role="button">Organização inteira</label>
        <label class="btn btn-sm btn-outline-secondary w-50" btnRadio="custom" tabindex="0" role="button">Selecionar escopos</label>
      </div>

      <div class="analysis-scope">
        
        <div [class.d-none]="scopeOption != 'all'">
          Todos os departamentos, macroprocessos e processos serão incluídos para análise.
        </div>

        <div [class.d-none]="scopeOption != 'custom'">
          <app-organization-analysis-scope-selection
            [organizationId]="organization.id">
          </app-organization-analysis-scope-selection>
        </div>
        
      </div>

    </div>
    
    <app-error-alert [errors]="errors"></app-error-alert>
  </div>

  <div class="actions">
    <button class="btn btn-outline-success" [disabled]="!enableSave()" (click)="save()">{{ (editMode) ? "Atualizar" : "Gerar análise" }}</button>
  </div>
</app-modal>