/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@ng-select/ng-select/themes/default.theme.css";

body {
  //font-family: 'Roboto', sans-serif;
  font-size: .875rem;
}

h5, .h5 {
  margin-bottom: 1.25rem;
}

.fa {
  width: 22px;
  text-align: center;
  margin-right: 0.5rem;
}

/*
 * Adjusts ng-select to match sizing small of inputs
 */
.ng-select.custom .ng-select-container {
  min-height: 0px;
  height: 31px; // required to override the select-single
  border: 1px solid #ced4da;
  border-radius: 0.2rem;
}

// Configures spacing for where you type (ng-input)
.ng-select.custom .ng-select-container .ng-value-container .ng-input {
  margin: 0;
  padding: 0;
}

// Configures spacing for value container (single or multiple)
.ng-select.custom .ng-select-container .ng-value-container {
  padding: 3px 8px;
}

// Configures spacing for the item after selected in select multiple
.ng-select.ng-select-multiple.custom .ng-select-container .ng-value-container .ng-value {
  margin: 0 4px 0 0;
  padding: 0;
}

// Configures spacing and font-size for ng-option (the option in the dropdown)
.ng-select.custom .ng-dropdown-panel .ng-option {
  margin: 0;
  padding: 4px 10px;
  font-size: 0.8rem;
}


/*
 * Sidebar
 */

.sidebar {
  z-index: 100; /* Behind the navbar */
  padding: 0.5rem 0;
  min-width: 250px;
  max-width: 250px;
  margin-left: 0px;
  min-height: 100vh;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

// Disabled .invisible for medium to large screens
// .sidebar-invisible {
//   margin-left: -250px;
// }

@media (max-width: 768px) {

  // Invisible can be enabled only on small screens
  .sidebar-invisible {
      margin-left: -250px;
  }

}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
  white-space: nowrap;
}

.sidebar .nav-link.active {
  color: #c62311;
  background-color: #dee2e6;
}

.sidebar .nav-link:hover {
  color: #007bff;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  //background-color: rgba(0, 0, 0, 1.0);
  //box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

// Used to display CreatedOn and LastModifiedOn
.entity-metadata {
  font-size: 0.7rem;
}

/*
 * Table
 */

.table-container {
  overflow: hidden;
  margin: 20px 0px;
  padding: 0;
  border-radius: 0.2rem;
  //border: 1px solid #c2c2c2;
  box-shadow: 0 0 5px 0px #c2c2c2;
}

.table-container table {
  margin: 0;
}

.table-container table thead {
  background-color: #dee2e6;
}

.table-container table tr:hover {
  background-color: #dee2e6;  
}

.table-container table th, 
.table-container table td {
  font-size: 0.8rem;
  padding: 0.3rem 0.6rem;
  white-space: nowrap;
}

.table a.icon-link:hover {
  text-decoration: none;
}

.table .actions .fa {
  width: 22px;
  text-align: center;
  margin-right: 0;
}

.fa-no-margin .fa {
  margin: 0;
}