<div class="d-flex justify-content-between align-items-center">
  
  <i class="fa pointer" (click)="toggleItAssets()" [ngClass]="{
    'fa-plus-square-o': !expanded,
    'fa-minus-square-o': expanded
  }"></i>
  <span class="badge badge-default badge-hierarchy mx-2">Serviço TI</span>
  <span class="badge badge-primary mx-2" title="Relevância: {{itService.relevance.name}}" *ngIf="itService.relevance">Rs {{itService.relevance.id}}</span>
  <label class="mb-0">{{itService.name}}</label>

  <!-- Remove IT service -->
  <button class="btn btn-outline-danger btn-sm ml-auto" title="Excluir" (click)="deleteItService()">
    <fa name="trash"></fa>
  </button>
  <!-- Add IT asset to IT service -->
  <button class="btn btn-primary btn-sm ml-1" title="Adicionar ativo de TI..." (click)="addItAsset()">
    <fa name="plus"></fa>
  </button>

</div>

<div *ngIf="expanded">
  <ul class="list-group" *ngIf="itAssets?.length > 0; else emptyList">
    <li class="list-group-item" *ngFor="let itAsset of itAssets">

      <app-it-asset-item [itAsset]="itAsset" (delete)="removeItAsset($event)"></app-it-asset-item>

    </li>
  </ul>

  <ng-template #emptyList>
    <div class="mx-5 my-2">
      Não existem ativos de TI neste serviço de TI.
    </div>
  </ng-template>

</div>